.clear {
  clear: both;
}
html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  line-height: 1;
  font-family: Georgia, Serif;
  color: #112;
}
a {
  border-bottom: solid 1px #036;
  color: #036;
  text-decoration: none;
}
a:hover {
  color: #c30;
  border: none;
}
.footer a {
  margin: 0 2px 0 0;
  color: #666;
}
.footer-top {
  height: 20px;
}
ul {
  list-style-type: upper-roman;
}
.entry {
  color: #111;
  font: 16px Georgia, sans;
  line-height: 22px;
  padding: 20px 0;
}
.entry .about {
  padding: 0;
  margin: 10px 0 0 0;
  font: normal 16px Georgia, sans;
}
.entry .date {
  display: inline;
  color: #999;
}
.entry .author {
  display: inline;
  text-align: right;
}
.entry .author a {
  text-decoration: none;
  border: 0;
}
.entry .about .separator {
  display: inline;
  color: #ccc;
  padding: 0 5px;
}
.search {
  display: block;
  width: 580px;
  margin: 0 auto;
  padding: 7px 10px;
  outline: none;
  border: 1px solid #ccc;
  font: 18px Georgia, sans;
  line-height: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.search-desc {
  margin: 10px;
  text-align: center;
}
.suggestions {
  margin: 20px auto;
  width: 600px;
  display: none;
}
.suggestions .title:before,
.suggestions .title:after {
  content: '"';
}
.suggestions h3 {
  font: 18px Georgia, sans-serif;
}
.dotted {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAACCAMAAADoxSf6AAAABlBMVEW7u7v9/f2nDFs1AAAAE0lEQVQYGWNgYGAEg8FLD3IHAgCXQgDxYDR/GAAAAABJRU5ErkJggg==") 0 50% repeat-x;
  background-size: 80px 1px;
}
.content .title {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}
.title span {
  background: #fff;
  padding: 0 10px;
}
.container {
  margin: 40px auto;
  width: 1000px;
}
.left {
  position: fixed;
  float: left;
  width: 250px;
}
.left .photo {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: url("http://distilleryimage6.s3.amazonaws.com/745102fa883511e2b45222000a1f97b0_7.jpg") -240px -195px;
  margin: 0 0 20px 0;
  height: 350px;
}
.left .photo .next {
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 350px;
  background-position: center;
}
.left .welcome {
  font: 14px Georgia, serif;
  line-height: 16px;
  color: #333;
  text-align: justify;
  padding: 20px 0;
}
.left .poem {
  white-space: pre;
  text-decoration: none;
  color: #666;
  font-style: italic;
  border: none;
  line-height: 20px;
}
.left .poem:hover {
  color: #000;
}
.right {
  float: right;
  margin: 0 10px;
  width: 680px;
}
.loading {
  padding: 10px;
  color: #333;
  font-style: italic;
  font-size: 16px;
}
.footer {
  margin-top: 10px;
  text-align: center;
  font: 12px sans-serif;
  color: #666;
}
.footer-top {
  height: 10px;
}
.footer .separator {
  margin: 0 3px;
  color: #aaa;
}
.footer a {
  text-decoration: none;
  border: none;
}
.footer a:hover {
  color: #05b;
}
