ul {
  list-style-type: upper-roman;
}
.entry {
  color: #111;
  font: 16px Georgia, sans;
  line-height: 22px;
  padding: 20px 0;
}
.entry .about {
  padding: 0;
  margin: 10px 0 0 0;
  font: normal 16px Georgia, sans;
}
.entry .date {
  display: inline;
  color: #999;
}
.entry .author {
  display: inline;
  text-align: right;
}
.entry .author a {
  text-decoration: none;
  border: 0;
}
.entry .about .separator {
  display: inline;
  color: #ccc;
  padding: 0 5px;
}
.search {
  display: block;
  width: 580px;
  margin: 0 auto;
  padding: 7px 10px;
  outline: none;
  border: 1px solid #ccc;
  font: 18px Georgia, sans;
  line-height: 24px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.search-desc {
  margin: 10px;
  text-align: center;
}
.suggestions {
  margin: 20px auto;
  width: 600px;
  display: none;
}
.suggestions .title:before,
.suggestions .title:after {
  content: '"';
}
.suggestions h3 {
  font: 18px Georgia, sans-serif;
}
.dotted {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAACCAMAAADoxSf6AAAABlBMVEW7u7v9/f2nDFs1AAAAE0lEQVQYGWNgYGAEg8FLD3IHAgCXQgDxYDR/GAAAAABJRU5ErkJggg==") 0 50% repeat-x;
  background-size: 80px 1px;
}
.content .title {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}
.title span {
  background: #fff;
  padding: 0 10px;
}
