<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Ana Kaynak</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/app/dist.js"></script>
    <link href="/static/styles/anakaynak.css"  rel="stylesheet" media="screen">

    <link href="http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&text=çığöşüÇİĞÖŞÜ" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

  </head>
  <body>

    <div id="me" class="container">

      <div class="left">

        <div class="photo">
          <div class="next"></div>
        </div>

        <div class="welcome">
          <a href="" class="poem"></a>
        </div>

        <div class="footer-top dotted">
        </div>

        <div class="footer">
          ★  <a href="http://twitter.com/4zjs">Kodfabrik</a>
          <span class="separator">|</span>
          <a href="http://twitter.com/anakaynak">Twitter</a>
        </div>

      </div>

      <div class="right">

        <input class="search" type="text" placeholder="Hasankeyf, Taipei, Rakı Balık, Güneş Yağı, Eski Sevgili, Nohutlu Pilav" />

        <div class="suggestions">
          <h3><span class="title"></span> için öneriler:</h3>
          <ul>
          </ul>
        </div>

        <div class="content">
          <h1 class="title dotted"><span></span></h1>

          <div class="loading">
            Lütfen bekleyiniz...
          </div>


          <ul class="eksi">
          </ul>
        </div>

      </div>

      <div class="clear"></div>

    </div>

  </body>
</html>
