@import 'main'
@import 'content'

.container
  margin 40px auto
  width 1000px

.left
  position: fixed
  float left
  width 250px

.left .photo
  border-radius 10px
  background url(http://distilleryimage6.s3.amazonaws.com/745102fa883511e2b45222000a1f97b0_7.jpg) -240px -195px
  margin 0 0 20px 0
  height 350px

.left .photo .next
  display none
  border-radius 10px
  height 350px
  background-position center

.left .welcome
  font 14px Georgia, serif
  line-height 16px
  color #333
  text-align justify
  padding 20px 0

.left .poem
  white-space pre
  text-decoration none
  color #666
  font-style italic
  border none
  line-height 20px

.left .poem:hover
  color #000

.right
  float right
  margin 0 10px
  width 680px

.loading
  padding 10px
  color #333
  font-style italic
  font-size 16px

.footer
  margin-top 10px
  text-align center
  font 12px sans-serif
  color #666

.footer-top
  height 10px

.footer .separator
  margin 0 3px
  color #aaa

.footer a
  text-decoration none
  border none

.footer a:hover
  color #05b
