.eksi-top
  font 12px Arial, sans-serif
  color #666
  text-align center
  padding-top 10px

.eksi-top a
  text-decoration none
  border none
  color #999

.eksi-top a:hover
  color #666

ul
  list-style-type upper-roman

.entry
  color #111
  font 16px Georgia, sans
  line-height 22px
  padding 20px 0

.entry .about
  padding 0
  margin 10px 0 0 0
  font normal 16px Georgia, sans

.entry .date
  display inline
  color #999

.entry .author
  display inline
  text-align right

.entry .author a
  text-decoration none
  border 0

.entry .about .separator
  display inline
  color #ccc
  padding 0 5px
