@import 'vendor'
@import 'lib'

html, body
  background grey
  margin 0
  padding 0
  width 100%
  height 100%

body
  line-height 1
  font-family Georgia, Serif
  color #112

.container
  center()

  margin 0
  padding 0
  width 100%
  height 100%
